<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feligrés</title>
    <link rel="icon" href="/img/veterinario.png" type="image/png">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">



    <link rel="stylesheet" href="css/styleAdmin.css">



</head>

<body>

    <div class="container-fluid p-0">
        <div class="row">
            <!-- Sidebar -->
            <div class="col-md-3 col-lg-2 col-sm-12 p-0 bg-light sidebar" style="background-color: blueviolet;">
                <div id="sidebar-header" class="d-flex flex-column flex-shrink-0 p-3  sidebar-content">
                    <div class="container d-none d-sm-block">
                        <a href=""
                            class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none custom-img-container">
                            <div class="w-100 w-sm-75 w-md-50 w-lg-25">
                                <img src="/img/veterinario.png" class="img-fluid " alt="">
                            </div>
                        </a>
                    </div>
                    <div class="d-flex justify-content-center">
                        <span class="fs-4">Doctor Doolittle</span>
                    </div>
                    <hr>
                    <ul class="nav nav-pills flex-column mb-auto">

                        <li class="nav-item mt-1">
                            <a id="inicioLink" class="nav-dark btn btn-light d-flex align-items-center"
                                aria-current="page">
                                <i class="bi bi-house me-2"></i> Inicio
                            </a>
                        </li>

                        <li class="nav-item mt-1">
                            <a href="#" id="SolicitudDePartidas"
                                class="nav-dark btn btn-light d-flex align-items-center" aria-current="page">
                                <i class="bi bi-send-arrow-down me-2"></i> Solicitud de partida
                            </a>
                        </li>
                        <li class="nav-item mt-1">
                            <a id="SolicitudDeMisas" href="#" class="nav-dark btn btn-light d-flex align-items-center">
                                <i class="bi bi-calendar-month me-2"></i> Solicitud de misa
                            </a>
                        </li>

                    </ul>
                    <hr>

                    <div class="dropdown my3 ">
                        <a href="#" class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle"
                            id="dropdownUser9" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="/img/veterinario.png" alt="" width="32" height="32" class="rounded-circle me-2">
                            <strong>mdo</strong>
                        </a>
                        <ul class="dropdown-menu  text-small shadow" aria-labelledby="dropdownUser9">
                            <li><a id="configuracionBtn" class="dropdown-item" href="#">Configuración</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="/">Cerrar Sesión</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Modal para editar perfil -->
            <div class="modal fade" id="editProfileModal" tabindex="-1" aria-labelledby="editProfileModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="editProfileModalLabel">Editar Perfil</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form id="editProfileForm">
                                <div class="mb-3">
                                    <label for="editName" class="form-label">Nombre</label>
                                    <input type="text" class="form-control" id="editName" required>
                                </div>
                                <div class="mb-3">
                                    <label for="editEmail" class="form-label">Correo electrónico</label>
                                    <input type="email" class="form-control" id="editEmail" required>
                                </div>
                                <!-- Agrega más campos según sea necesario -->
                                <div class="d-grid">
                                    <button type="submit" class="btn btn-primary">Guardar cambios</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Mobile Header -->
            <nav class="navbar navbar-light bg-light d-md-none">
                <div class="container-fluid">
                    <a href="/" class="link-dark text-decoration-none">
                        <img src="/img/veterinario.png" alt="" width="32" height="32" class="rounded-circle me-2">
                        <span>Doctor Doolittle</span>
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavDropdown">
                        <ul class="navbar-nav">

                            <li class="nav-item">
                                <a id="MobileinicioLink" class="nav-dark btn btn-light d-flex align-items-center"
                                    aria-current="page">
                                    <i class="bi bi-house me-2"></i> Inicio
                                </a>
                            </li>

                            <li class="nav-item">
                                <a href="#" id="MobileAdminLink"
                                    class="nav-dark btn btn-light d-flex align-items-center" aria-current="page">
                                    <i class="bi bi-send-arrow-down me-2"></i> Mascotas
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" id="MobileMisa" class="nav-dark btn btn-light d-flex align-items-center"
                                    aria-current="page">
                                    <i class="bi bi-calendar-month me-2"></i> Solicitud de misa
                                </a>
                            </li>


                            <li class="nav-item">
                                <a href="#" id="MobilePerfil" class="nav-dark btn btn-light d-flex align-items-center"
                                    aria-current="page">
                                    <i class="bi bi-person-fill-gear me-2"></i> Perfil
                                </a>
                            </li>

                            <li class="nav-item">
                                <a href="/" id="MobileGestionPartidas"
                                    class="nav-dark btn btn-light d-flex align-items-center" aria-current="page">
                                    <i class="bi bi-arrow-right-square me-2"></i> Cerrar sesión
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>





            <!-- Contenido principal -->
            <main id="Principal" class="col-md-9 col-lg-10 col-sm-12 d-flex flex-column align-items-center custom-main">

                <div class="container w-76 mt-5">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                        data-bs-target="#createPetModal">
                        Crear Mascota
                    </button>
                </div>

                <div class="modal fade" id="createPetModal" tabindex="-1" aria-labelledby="createPetModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="createPetModalLabel">Crear Nueva Mascota</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                    <span class="visually-hidden">Cerrar</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form id="createPetForm">
                                    <div class="mb-3">
                                        <label for="petName" class="form-label">Nombre*</label>
                                        <input type="text" class="form-control" id="petName" required>
                                    </div>
                                    <div class="mb-3">
                                        <label for="petPhoto" class="form-label">Foto URL</label>
                                        <input type="url" class="form-control" id="petPhoto">
                                    </div>
                                    <div class="mb-3">
                                        <label for="petSpecies" class="form-label">Especie*</label>
                                        <input type="text" class="form-control" id="petSpecies" required>
                                    </div>
                                    <div class="mb-3">
                                        <label for="petBreed" class="form-label">Raza</label>
                                        <input type="text" class="form-control" id="petBreed">
                                    </div>
                                    <div class="mb-3">
                                        <label for="petBirthdate" class="form-label">Fecha de nacimiento</label>
                                        <input type="date" class="form-control" id="petBirthdate">
                                    </div>
                                    <div class="mb-3">
                                        <label for="petGender" class="form-label">Género</label>
                                        <select class="form-select" id="petGender">
                                            <option value="">Seleccionar</option>
                                            <option value="Macho">Macho</option>
                                            <option value="Hembra">Hembra</option>
                                        </select>
                                    </div>
                                    <div class="mb-3">
                                        <label for="petWeight" class="form-label">Peso (kg)</label>
                                        <input type="number" class="form-control" id="petWeight" step="0.1">
                                    </div>
                                    <div class="mb-3">
                                        <label for="petColor" class="form-label">Color</label>
                                        <input type="text" class="form-control" id="petColor">
                                    </div>
                                    <div class="mb-3">
                                        <label for="petAllergies" class="form-label">Alergias</label>
                                        <textarea class="form-control" id="petAllergies"></textarea>
                                    </div>
                                    <div class="mb-3">
                                        <label for="petDietaryRestrictions" class="form-label">Restricciones
                                            dietéticas</label>
                                        <textarea class="form-control" id="petDietaryRestrictions"></textarea>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                <button type="button" class="btn btn-primary" onclick="createPet()">Guardar</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container  px-5 my-2 " style="background-color: aqua; width:85% ">
                    <div class="row row-cols-1 row-cols-md-3 g-4" id="petCardsContainer">
                        <!-- Las tarjetas de mascotas se insertarán aquí dinámicamente -->
                    </div>
                </div>

                <!-- Template para la tarjeta de mascota -->
                <template id="petCardTemplate">
                    <div class="col">
                        <div class="card h-100">
                            <img src="" class="card-img-top pet-photo" alt="Foto de la mascota">
                            <div class="card-body">
                                <h5 class="card-title pet-name"></h5>
                                <p class="card-text pet-species"></p>
                                <p class="card-text pet-breed"></p>
                            </div>
                            <div class="card-footer">
                                <button class="btn btn-primary btn-sm me-2 edit-pet">Editar</button>
                                <button class="btn btn-danger btn-sm delete-pet">Eliminar</button>
                            </div>
                        </div>
                    </div>
                </template>


            </main>
        </div>
    </div>



    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="editProfile.js"></script>
    <script src="pet.js"></script>
    <script src="cardPets.js"></script>


</body>

</html>